//
// Store prefixes
//

$prefixes:-webkit,-moz,-ms,-o;

//
// Color palette
// DO NOT USE these variables directly in other .scss files
//

$black:#222;
$grey-vdark:#444;
$grey-dark:#666;
$grey:#999;
$grey-light:#ccc;
$grey-vlight:#eee;
$white:#fff;

$red:red;
$green:green;
$purple:#936;
$blue:#105cb6;

//
// Set default typography and colors
// Use these variables throughout your .scss files
// Modify color variables below by changing their values to different
// variables from the color palette above
//

$base-text-align:left; // switch for rtl
$base-font-family:"Museo 300", Verdana, serif;
$base-font-size:16px;
$base-line-height:1.4;

$font-bold:"Museo 700", Verdana, serif;

$monospace-font-family:consolas, monospace, x;

$link-color:$blue;
$link-color-hover:darken($blue, 15%);

$base-text-color:$grey-vdark;
$important-text-color:$black;
$code-text-color:$purple;

$background-color:#eee;

//
// Site dimensions
//

$site-max-width:940px;
$site-max-width-ems:$site-max-width/$base-font-size + em;
$grid-gutter:20px; // must be px or em

$space-small:0.25em;
$space-medium:0.5em;
$space-large:1em;