/* Animation
   ========================================================================== */

@-webkit-keyframes rollup {
	0% {
		-webkit-transform: translateY(2em); opacity:0;
	}
}


@-webkit-keyframes rollon {
	0%,40% {
		-webkit-transform: translateX(-20em) rotate(-180deg);
	}
}



/* Body
   ========================================================================== */
   
.site-contain {
	padding-top: 3em;
	text-align: center;
	
	-webkit-animation: rollup 1000ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
}

/* Header
   ========================================================================== */

.site-head {
	margin-bottom: 2em;
}

.site__name {
	margin-bottom: .2em;
}

.site__title {
	margin: 0;
}

/* Footer
   ========================================================================== */
   

.site-foot p {
	color:#ccc;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 1);
}

/* Avatar
   ========================================================================== */


.avatar {
	background-color:#fff;
	display: inline-block;
	margin-bottom: .5em;
	padding: .2em;
	width:40%;
	
	-webkit-animation: rollon 1400ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
}


/* Socials
   ========================================================================== */
     
.socials {
	width:100%;
}
.socials li + li {
	margin-left:-.4em;
}
   
.socials a {
	background-color: #fff;
	border: 4px solid transparent;
	display: inline-block;
	height:60px;
	position: relative;
	text-align: center;
	width:60px;
	
	@include transition(background-color 0.3s ease);
	@include radius(10em);
	@include tranform(scale(.8));
}

.socials a:before {
    @extend .spr;
	height:27px;
}

.twitter {

	&:hover {
		background-color:#33CCFF;
		border-color:#fff;
	}
	
	&:before {
		background-position: 0 0;
		position: relative;
		top:1em;
		width:31px;
	}
}

.github {

	&:hover {
		background-color:#ccc;
		border-color:#fff;
	}
	
	&:before {
		background-position: -31px 0;
		position: relative;
		top:1em;
		width:16px;
	}
}

.dribbble {

	&:hover {
		background-color:#EA4C89;
		border-color:#fff;
	}
	
	&:before {
		background-position: -47px 0;
		position: relative;
		top:1em;
		width:27px;
	}
}

.email {

	&:hover {
		background-color:#C53727;
		border-color:#fff;
	}
	
	&:before {
		background-position: -74px 0;
		position: relative;
		top:1em;
		width:31px;
	}
}