// Site set-up

// Site Wide Colours
$brand:#006199;
$background-color:#88adc9;
$base-text-color:#333;
 
$base-text-align: left; // switch for rtl
//$base-font-family: "arvo",serif;
$base-font-family: cambria,georgia,times,serif;
$base-font-size: 18px;
$base-line-height: 1.8;

$site-max-width: 940px;

$space: 1em;

$link-color: $brand;
$link-color-hover: darken($brand, 15%);
