// Site set-up

// Site Wide Colours
$brand:#88adc9;
$background-color:$brand;
$base-text-color:#444;

$base-text-align: left; // switch for rtl
$base-font-family: 'PT Serif', serif;
//$base-font-family: cambria,georgia,times,serif;
$base-font-size: 16px;
$base-line-height: 1.8;

$site-max-width: 800px;

$space: 1em;

$link-color: $brand;
$link-color-hover: darken($brand, 15%);
