---
layout: layout
title: Bradley Few - front end developer
---

{% for post in site.posts limit:1 %}

<article class="post lead">
	<header>
		<h1 class="beta"><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<p class="milli">5th January 2012. Tagged: <a href="#">css</a>, <a href="ui">ui</a>, <a href="#">lab</a></p>
	</header>
	{{ post.content | truncatewords: 50 }}
	<a class="btn" href="post.html">Continue reading &raquo;</a>
</article>
		
{% endfor %}


<ol class="listing">
    {% for post in site.posts %}
        {% if forloop.index > 1 %}
            <li>
                <header>
                    <h1 class="beta"><a href="{{ post.url }}">{{ post.title }}</a></h1>
                    <p class="milli">{{ post.date | date: "%B %e, %Y" }}. Tagged: {% for post in site.posts %}<a href="#">{{ post.tags }}</a>{% endfor %}</p>
                </header>
            </li>
    	{% endif %}
    {% endfor %}
</ol>
