		<section class="module">
			<hgroup>
				<h1 class="gamma">About me</h1>
				<h2 class="epsilon">Hey, I'm a front end developer based in Essex, UK.</h2>
			</hgroup>
			<p>Right now I'm working on <strong>teamy</strong>, aiming to totally revolutionise the way managers, players and supporters interact online.</p>
            <p>If you want to chat get at me on <a href="http://twitter.com/#!/Bradleyfew">twitter</a>, <a href="http://github.com/sirbrad">github</a> and <a href="http://dribbble.com/sirbrad">dribbble</a>.</p>
            <p class="milli">P.S you can <a href="https://github.com/sirbrad/sirbrad.github.com">fork</a> this repo.</p>
		</section>
		<footer>
			<p class="milli">&copy; Bradley Few. Made in the countryside.</p>
		</footer>
	</div>
    <script data-main="/Assets/Scripts/main" src="/Assets/Scripts/Require.min.js"></script>
</body>
</html>