/* Article
   ========================================================================== */

.post {
	background-color: #fff;
	
	&:nth-child(2) {
		background-color: rgba(245, 245, 245, 1);
	}
	
	&:nth-child(3) {
		background-color: rgba(235, 235, 235, 1);
	}
	
	&:nth-child(4) {
		background-color: rgba(215, 215, 215, 1);
	}
	
	&:nth-child(5) {
		background-color: rgba(200, 200, 200, 1);
	}
}

.post {
	padding: 1.5em;
	word-wrap: break-word;
}

.post--listing .post__title {
	margin: 0;
}

.post pre {
	background-color: rgba(245, 245, 245, 1);
	padding: 1em;
	overflow: auto;
	word-wrap: normal; // Stop break-word
}