/* Comments
   ========================================================================== */
   
.comments {
	background-color: rgba(240, 240, 240, 1);
	padding: 1em;
}

// Listing

.comment__listing {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.comment__item {
	
	& + .comment__item {
		margin-top: 2em;
	}
}

.comment__item .bod {
	background-color: #fff;
	padding: 1em;
}

.comment__item .img {
	background-color: #fff;
	display: inline-block;
	margin: 0 0 1em;
	position: relative;
	max-width: 30%;
	min-height: 80px; // avoid jump on load
	
	&:before {
		content: '';
		display: inline-block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
		height: 0;
		width: 0;
		position: absolute;
		bottom: -1em;
		right: 50%;
		margin-right: -10px;
	}
}

.comment__avatar {
	position: relative;
	z-index: 2;
}

.comment__id {
	text-transform: capitalize;
	font-weight: bold;
}

.comment__date {
	display: inline-block;
	font-size: font-sizing(14px);
	margin-left: .5em;
	font-style: italic;
}


// Generated content
.comment__item p {
	
	&:last-child {
		margin-bottom: 0;
	}
}

// All applause to @dte
@-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	to { -moz-transform: rotate(360deg); }
}

.i--loader {
	background-color: transparent;
	border: 3px solid;
	border-right-color: transparent;
	color: #444;
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -8px 0 0 -8px;
	
	@include radius(50%);
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	
	&:after {
		content:'';
		border: 4px solid transparent;
		border-left-color: inherit;
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		top: -50%;
		right: -50%;
	}
}

// Posting

.post-comment {
	background-color: rgba(0, 0, 0, .3);
}

.comment__input {
	@include box-sizing(border-box);
	background-color: rgba(240, 240, 240, 1);
	border: none;
	font-size: 1em;
	padding: 2em;
	width: 100%;
	max-width: 100%;
	
	-webkit-appearance: none;
	@include transition(background-color 0.1s ease);
	
	&:focus,
	&:active {
		background-color: #fff;
		outline: none;
	}
}

.btn {
	@include box-sizing(border-box);
	background: #fff;
	display: block;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}








