/* Comments
   ========================================================================== */
   
.comments {
	//background-color: rgba(0, 0, 0, .3); nice blue
	background-color: rgba(240, 240, 240, 1);
	padding: 1em;
}

.comment__listing {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

.comment__item {
	
	& + .comment__item {
		margin-top: 2em;
	}
}

.comment__item .bod {
	background-color: #fff;
	padding: 1em;
}

.comment__item .img {
	display: inline-block;
	margin: 0 0 1em;
	position: relative;
	max-width: 30%;
	
	&:before {
		content: '';
		display: inline-block;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #fff;
		height: 0;
		width: 0;
		position: absolute;
		bottom: -1em;
		right: 50%;
		margin-right: -10px;
	}
}

.comment__item p {
	
	&:last-child {
		margin-bottom: 0;
	}
}

.comment__id {
	text-transform: capitalize;
	font-weight: bold;
}

.comment__date {
	display: inline-block;
	font-size: font-sizing(14px);
	margin-left: .5em;
	font-style: italic;
}