/* Comments
   ========================================================================== */
   
.comments {
	//background-color: rgba(0, 0, 0, .3); nice blue
	background-color: rgba(240, 240, 240, 1);
	padding: 4em;
}

.comment__listing {
	list-style: none;
	padding: 0;
}

.comment__item {
	
	& + .comment__item {
		margin-top: 2em;
	}
}

.comment__item .bod {
	background-color: #fff;
	padding: 2em;
}

.comment__item .img {
	position: relative;
	max-height: 120px;
	
	&:before {
		content: '';
		display: inline-block;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #fff;
		height: 0;
		width: 0;
		position: absolute;
		right: -1em;
		top: 50%;
		margin-top: -5px;
	}
}

.comment__avatar {
	// maybe remove?
}

.comment__item p {
	
	&:last-child {
		margin-bottom: 0;
	}
}