/* Base
   ========================================================================== */
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  border: 1em solid #fff;
  font-family: "Museo 300", Verdana, serif;
  font-size: 16px;
  font-size-adjust: 0.5;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  color: #444444;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #eeeeee;
  margin: 0; }

/* Links
   ========================================================================== */
a {
  color: #105cb6;
  text-decoration: none; }

/* Addresses outline displayed oddly in Chrome */
a:focus {
  outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers */
a:hover, a:active {
  outline: 0; }

a:hover, a:focus, a:active {
  color: #0a3870;
  text-decoration: underline; }

/*
 * 1. Allows images to undergo proportional down-scaling within a container
 * 2. Removes border when inside 'a' element in IE8/9, FF3
 * 3. Removes excess space below inline images
 */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle; }

/* Lists
   ========================================================================== */
ul, ol {
  padding-left: 30px; }

ul ul, ol ol, ul ol, ol ul {
  margin: 0; }

dt {
  font-weight: bold; }

dd {
  margin-left: 30px; }

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.data-table {
  margin: 1.4em 0; }

.data-table caption {
  padding: 0.5em 10px;
  text-align: left;
  color: #777; }

.data-table th, .data-table td {
  padding: 0.5em 10px;
  border: 1px solid #ccc;
  text-align: left; }

.data-table tbody tr:nth-child(odd) th, .data-table tbody tr:nth-child(odd) td {
  background: #f8f8f8; }

.data-table--wide {
  width: 100%; }

/* Typography
   ========================================================================== */
.hx, h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, .h1-l, .h1-xl {
  font-family: "Museo 700", Verdana, serif;
  font-size-adjust: 0.51;
  font-weight: 700;
  font-style: normal;
  margin: 1em 0;
  line-height: 1.1;
  color: #222222; }

h6, .h6 {
  font-size: 0.875em;
  color: #777; }

h5, .h5 {
  font-size: 0.875em; }

h4, .h4 {
  font-size: 1em; }

h3, .h3 {
  font-size: 1.25em; }

h2, .h2 {
  margin: 1em 0 0.75em;
  font-size: 1.5em; }

h1, .h1 {
  margin: 0 0 0.75em;
  font-size: 2em; }

.h1-l, .h1-xl {
  margin: 0 0 0.5em;
  font-size: 3.375em;
  font-weight: normal; }

.h1-xl {
  margin: 0 0 0.5em;
  font-size: 4.5em;
  font-weight: normal; }

small, .txt-s {
  font-size: 75%; }

.txt-xl {
  font-size: 1.5em; }

/*
 * Block-level margins
 */
p, blockquote, ul, ol, dl, menu, pre {
  margin: 0 0 1.4em; }

/* Clearfix
   ========================================================================== */
/* ClearFix - Ref: nicolasgallagher.com/micro-clearfix-hack/ */
.cf {
  zoom: 1; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* Media object
   ========================================================================== */
/* Media Block - Ref: www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {
  display: block; }

.media .img {
  float: left;
  margin-right: 10px; }

.media .body {
  overflow: hidden;
  margin-bottom: 0; }

/* Horizontal block
   ========================================================================== */
/*Hoz Block (Horizontal) - Ref: http://csswizardry.com/2011/09/the-nav-abstraction/ */
.hoz {
  list-style: none;
  padding-left: 0; }

.hoz, .hoz dd {
  margin-left: 0; }

.hoz li, .hoz dt, .hoz dd {
  display: inline; }

.hoz a {
  display: inline-block; }

/* Hidden
   ========================================================================== */
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* Contain
   ========================================================================== */
.contain {
  max-width: 58.75em;
  padding: 0 10px;
  margin: 0 auto; }

/* Contain
   ========================================================================== */
.spr, .socials a:before {
  content: '';
  background-color: transparent;
  background-image: url(../Images/Css/Sprite.png);
  background-repeat: no-repeat;
  display: inline-block; }

/* Circle
   ========================================================================== */
.circle {
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  border-radius: 20em; }

/* Animation
   ========================================================================== */
@-webkit-keyframes rollup {
  0% {
    -webkit-transform: translateY(2em);
    opacity: 0; } }

@-moz-keyframes rollup {
  0% {
    -moz-transform: fslateY(2em);
    opacity: 0; } }

@-webkit-keyframes rollon {
  0%,40% {
    -webkit-transform: translateX(-20em) rotate(-180deg); } }

@-moz-keyframes rollon {
  0%,40% {
    -moz-transform: translateX(-20em) rotate(-180deg); } }

/* Body
   ========================================================================== */
.site-contain {
  padding-top: 3em;
  text-align: center;
  -webkit-animation: rollup 1000ms ease;
  -moz-animation: rollup 1000ms ease; }

/* Header
   ========================================================================== */
.site-head {
  margin-bottom: 2em; }

.site__name {
  margin-bottom: .2em;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8); }

.site__title {
  margin: 0;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8); }

/* Footer
   ========================================================================== */
.site-foot p {
  color: #ccc;
  text-shadow: 0 -1px 0 white; }

/* Avatar
   ========================================================================== */
.avatar {
  background-color: #fff;
  display: inline-block;
  margin-bottom: .5em;
  padding: .2em;
  width: 40%;
  -webkit-animation: rollon 1400ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
  -moz-animation: rollon 1400ms cubic-bezier(0.51, 0.01, 0.37, 0.98); }

/* Socials
   ========================================================================== */
.socials {
  width: 100%; }

.socials li + li {
  margin-left: -0.4em; }

.socials a {
  background-color: #fff;
  border: 4px solid transparent;
  display: inline-block;
  height: 60px;
  position: relative;
  text-align: center;
  width: 60px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.socials a:before {
  height: 27px; }

.twitter:hover {
  background-color: #33CCFF;
  border-color: #fff; }
.twitter:before {
  background-position: 0 0;
  position: relative;
  top: 1em;
  width: 31px; }

.github:hover {
  background-color: #ccc;
  border-color: #fff; }
.github:before {
  background-position: -31px 0;
  position: relative;
  top: 1em;
  width: 16px; }

.dribbble:hover {
  background-color: #EA4C89;
  border-color: #fff; }
.dribbble:before {
  background-position: -47px 0;
  position: relative;
  top: 1em;
  width: 27px; }

.email:hover {
  background-color: #C53727;
  border-color: #fff; }
.email:before {
  background-position: -74px 0;
  position: relative;
  top: 1em;
  width: 31px; }

.humour {
  background-color: #fff;
  bottom: 2em;
  display: none;
  left: 50%;
  font-family: "Museo 700", Verdana, serif;
  margin-left: -170px;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 340px; }
.humour:before {
  content: '';
  background-color: inherit;
  display: inline-block;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -10px;
  width: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em; }

/* 480+
   ========================================================================== */
@media screen and (min-width: 480px) {
  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-34em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-34em) rotate(-180deg); } }

  .avatar {
    padding: .4em; }

  .socials li + li {
    margin-left: .5em; }

  .socials a {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
/* 600+
   ========================================================================== */
@media screen and (min-width: 600px) {
  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-45em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-45em) rotate(-180deg); } }

  html {
    border-width: 2em; }

  .site-head {
    margin-bottom: 3em; }

  .avatar {
    margin-bottom: 1em; }

  .h1 {
    font-size: 3em; }

  .h6 {
    font-size: 1.4em; } }
/* 768+
   ========================================================================== */
@media screen and (min-width: 768px) {
  .site-contain {
    padding-top: 8em; }

  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-50em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-50em) rotate(-180deg); } }

  .avatar {
    padding: .5em; }

  .socials li + li {
    margin-left: 1.3em; } }
/* 1024+
   ========================================================================== */
@media screen and (min-width: 1024px) {
  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-60em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-60em) rotate(-180deg); } } }
/* 1400+
   ========================================================================== */
@media screen and (min-width: 1400px) {
  .site-contain {
    padding-top: 10em; }

  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-74em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-74em) rotate(-180deg); } } }
/* 1986+
   ========================================================================== */
@media screen and (min-width: 1986px) {
  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-85em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-85em) rotate(-180deg); } } }
/* 1986+
   ========================================================================== */
@media screen and (min-width: 2300px) {
  @-webkit-keyframes rollon {
    0%,40% {
      -webkit-transform: translateX(-92em) rotate(-180deg); } }

  @-moz-keyframes rollon {
    0%,40% {
      -moz-transform: translateX(-92em) rotate(-180deg); } } }
@media screen and (min-width:2520px) {
  .humour {
    display: block; } }
