<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
  	<title>Bradley Few &#x2013; Developer @ Mint Digital</title>
      <meta name="author" content="sirBrad" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="/assets/images/favicon.ico" />
      <link type="text/plain" rel="author" href="humans.txt" />
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/css/index.css"/>
  </head>
  <body>
  	{{ content }}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30730866-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
